@media only screen and (min-width: 1680px) {
    .our_title {
        font-size: 20px;
    }
    .navbar-collapse {
        margin: 0 170px 0 200px;
        ;
        font-size: 18px !important;
    }
    .collage {
        max-width: 1700px;
    }
    .clear {
        clear: both;
        height: 30px;
    }
}

@media only screen and (max-width: 1679px) {
    .our_title {
        font-size: 17px;
    }
    .navbar-collapse {
        margin: 0 70px;
        font-size: 16px !important;
    }
    .collage {
        max-width: 1600px;
    }
    .clear {
        clear: both;
        height: 30px;
    }
}


/* Big tablet to 1200px (width smaller than 1140px row)*/

@media only screen and (max-width: 1365px) {
    .our_title {
        font-size: 15px;
    }
    .navbar-collapse {
        margin-right: 20px;
        margin-left: 5px;
        font-size: 12px !important;
    }
    .collage {
        max-width: 1400px;
    }
    .clear {
        clear: both;
        height: 30px;
    }
    .embed-responsive-4by3 {
        padding-bottom: 60%;
    }
    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        margin: 3px;
        font-size: 20px;
    }
    .school-block__logo {
        padding-bottom: 15px;
    }
    #map {
        width: 1000px;
        height: 500px;
        border-radius: 1%;
    }
    #map2 {
        width: 1000px;
        height: 500px;
        border-radius: 1%;
    }
    sl__news {
        width: 80%;
        margin: 20px auto;
    }
    .sl__slide {
        position: relative;
    }
    .sl__img {
        height: 250px;
        width: 250px;
    }
    .sl__slide p {
        font-size: 17px;
    }
    .search-partners li {
        list-style: none;
        max-width: 110%;
        margin: -10% !important;
        padding: 35px 15px 0px 10px;
    }
    .search-partners p {
        font-size: 17px;
    }
}


/* Small tablets to big tablets: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
    .our_title {
        font-size: 11px;
    }
    .navbar-collapse {
        margin: 0 20px;
    }
    .nav>li>a {
        padding: 5px 7px;
    }
    .sl__news {
        width: 75%;
        margin: 20px auto;
    }
    .sl__slide {
        position: relative;
    }
    .sl__img {
        height: 250px;
        width: 250px;
    }
    .sl__slide p {
        font-size: 14px;
    }
    .clear {
        clear: both;
        height: 30px;
    }
    .embed-responsive-4by3 {
        padding-bottom: 60%;
    }
    .coach_description {
        font-size: 16px;
    }
    .school-block__logo {
        padding-bottom: 15px;
    }
    .search-partners li {
        padding: 80px 15px 0px 45px;
    }
    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        margin: 3px;
        font-size: 18px;
    }
    .social {
        position: fixed;
        top: 30px;
        width: 10%;
    }
    .social ul li {
        padding: 5px;
    }
}


/* Small phones to small tablets: from 481 to 767px*/

@media only screen and (max-width: 767px) {
    .our_title {
        font-size: 10px;
    }
    .about-school>ul {
        padding-left: 0;
    }
    .about-school>ul>li {
        font-size: 12px;
        margin-top: 1%;
    }
    .about-school .glyphicon {
        margin-right: 3%;
    }
    h2 {
        font-size: 18px;
    }
    .sl__news {
        width: 65%;
        margin: 20px auto;
    }
    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        margin: 3px;
        font-size: 14px;
    }
    .photos_IrenaBous,
    .photos-Vit_Kat {
        align-items: center;
    }
    .social {
        position: fixed;
        top: 30px;
        width: 10%;
    }
    .social ul li {
        padding: 5px;
    }
    .sl__news {
        width: 75%;
        margin: 20px auto;
    }
    .sl__slide {
        position: relative;
    }
    .sl__img {
        height: 200px;
        width: 200px;
    }
    .embed-responsive-4by3 {
        padding-bottom: 65%;
    }
    .clear {
        clear: both;
        height: 30px;
    }
    .contact_head p {
        font-size: 15px;
    }
    h3 {
        font-size: 20px;
    }
    .nav-pills>li {
        float: none;
    }
    .nav-pills {
        text-align: center;
    }
    .header {
        text-align: center;
    }
    #map {
        width: 720px;
    }
    #map2 {
        width: 720px;
    }
    .coach_description {
        font-size: 15px;
    }
    .search-partners li {
        padding: 50px 15px 0px 35px;
    }
    .news__hidden {
        width: 370px !important;
        height: auto !important;
    }
}


/*For flex boxes*/

@media (min-width: 481px) {
    .container-info {
        font-size: 150%;
        display: flex;
        justify-content: space-around;
    }
}


/* Small phones: from 0 to 480px*/

@media only screen and (max-width: 580px) {
    section {
        padding: 25px 0;
    }
    .contact-form {
        width: 100%;
    }
    .our_title {
        font-size: 10px;
    }
    sl__news {
        width: 120%;
        margin: 10px auto;
    }
    .sl__slide {
        position: relative;
    }
    .sl__img {
        height: 200px;
        width: 200px;
    }
    .sl__slide p {
        font-size: 12px;
    }
    .upper-header p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
    .contact-form {
        width: 100%;
    }
    .our_title {
        font-size: 10px;
    }
    sl__news {
        width: 120%;
        margin: 10px 0;
        margin-left: 20px;
    }
    .sl__slide {
        position: relative;
    }
    .sl__img {
        height: 250px;
        width: 250px;
    }
    .sl__slide p {
        font-size: 13px;
    }
    .news__hidden {
        width: 330px !important;
        height: auto !important;
    }
    th {
        font-size: 12px;
        text-align: center;
    }
    tr {
        font-size: 10px;
        text-align: center;
    }
    .upper-header p {
        font-size: 11px;
    }
}
