
html, body {    
	height: 100%;
    background-color: rgb(239, 239, 239);
}

.header li {
    text-decoration: none;
}

.navbar-inverse {
    background-color: rgb(186, 145, 145);
    border: none;
}

.nav-pills>li>a:hover {
	color: #fff;
	background-color: #346270;
    transition: background-color 0.3s;
}


.header {
    padding: 1%;
}

footer {
    height: 100%;
    color: #666;
	background-color: #e2d6d6;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}

.wrapper {
	position: relative;
    min-height: 100%;
}

.clear {
	clear: both;
	height: 63px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #3B5998;
}

.fa-instagram {
  color: #125688;
}

.phone-us p {
    padding-top: 5%;
    vertical-align: middle;
}

/* --------------------------------------- XS screens ----------------------------------------*/

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
}	

	.nav-pills {
		text-align: center;	
}	
	.header h1 {
		letter-spacing: 5px;
		font-size: 280%;
	}

	.header {
		text-align: center;	
	}
}


/* --------------------------------------- CONTACT ----------------------------------------*/

.contact_head {
    text-align: center;
}



/* --- maps ---*/

.map_description {
    text-align: center;
}

#map {
	width: 550px;
	height: 500px;
    border-radius: 1%
}

#map2 {
	width: 550px;
	height: 500px;
    border-radius: 1%
}

/* --------------------------------------- NEWS ----------------------------------------*/

