/*------------------------------------- COMMON SETTINGS-----------------------------------*/

html,
body {
    min-height: 100vh;
    background: #ffffff;
    font-family: 'Alice', serif;
}

h2 {
    margin-top: 0px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #ff0000;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.wrapper {
    height: 100%;
}

.clear {
    clear: both;
    height: 63px;
}

h2 {
    color: #000;
}

h4 {
    color: #403c3c;
}

h3:after {
    display: none;
}

.btn-default {
    background-color: #ddd;
}


/* news.html btn-color */

.btn-default:hover {
    color: white;
    background-color: red;
}

.allfordance {
    overflow: hidden;
    background: #f4f4f4;
    padding: 1%;
}

.allfordance img {
    width: 60px;
    height: auto;
}

.allfordance p {
    font-size: 16px;
}

.grand_prix {
    font-family: 'Mr Bedfort', cursive;
}


/*------------------------------------- SOCIAL ICONS -----------------------------------*/


/*опустить саму панельку с иконками ниже*/

.social {
    position: fixed;
    top: 9px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-280px, 0);
    -moz-transform: translate(-280px, 0);
    -ms-transform: translate(-280px, 0);
    -o-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    margin-left: 15px;
    background: rgba(199, 57, 57, 0.36);
    width: 290px;
    text-align: right;
    padding: 8px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(65px, 0);
    -moz-transform: translate(65px, 0);
    -ms-transform: translate(65px, 0);
    -o-transform: translate(65px, 0);
    transform: translate(65px, 0);
    background-color: #1400ff;
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: #000000;
    background: red;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: red;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.fa {
    /* padding: 10px; */
    font-size: 20px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

.fa-instagram {
    color: #125688;
}


/*------------------------------------- HEADER -------------------------------------------*/

.upper-header p {
    padding-top: 1%;
    font-size: 17px;
}

.our_title {
    font-size: 14px;
    padding-top: 13px;
}

.two-logos {
    padding-top: 15px;
}

.affix {
    top: 0;
    width: 110%;
    left: -10%;
    padding-left: 35%;
    position: fixed;
    z-index: 9999;
}

.affix+.container-fluid {
    padding-top: 100px;
    padding-left: 150px;
}


/*------------------------------------- COLLAGE -------------------------------------------*/

.collage {
    overflow: hidden;
    padding: 0;
    max-width: 110%;
}

.collage img {
    overflow: hidden;
    padding: 0;
    max-height: 500px;
    width: 1920px;
}


/*------------------------------------- SLIDE NEWS -------------------------------------------*/

.sl__news {
    width: 75%;
    margin: 20px auto;
}

.sl__slide {
    position: relative;
}

.sl__img {
    height: 400px;
    width: auto;
}

.our_video>iframe {
    width: 400px;
    height: auto;
    border: none;
    overflow: hidden;
}

.open_door {
    font-size: 17px;
    padding: 4%;
}

.sl__slide p {
    font-size: 17px;
}


/*------------------------------------- COACH-BLOCK -------------------------------------------*/

.coach {
    color: #ff0000;
}

.coach_description {
    font-size: 18px;
}


/*------------------------------------- INFO ABOUT US -------------------------------------------*/

.container-info div {
    border: 1px #ccc solid;
    padding: 10px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
    margin: 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(background.jpg);
    width: 100%;
    color: #ffffff;
    font-size: 26px;
}


/*------------------------------------- ABOUT SCHOOL -------------------------------------------*/

.about-school>ul {
    list-style: none;
    font-size: 19px;
}

.about-school>ul>li {
    font-size: 17px;
    margin-top: 1%;
}

.about-school .glyphicon {
    margin-right: 1%;
}


/*------------------------------------- FOOTER -------------------------------------------*/

footer {
    color: #efefef;
    background-color: #0d0d0d;
    padding: 12px 0 5px 0;
    border-top: 1px solid #000;
}


/*------------------------------------- NAVIGATION -------------------------------------------*/

.upper-header p {
    margin: 0;
}

.nav>li>a {
    padding: 10px 10px;
}

.nav-pills li a {
    margin-top: 5px;
}

.navbar-collapse {
    float: left;
    background-color: #fff;
    margin-left: 90px;
    border-color: #fff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: red;
    transition: background-color 0.1s;
}

.nav-pills li a {
    color: #000000;
}

.nav-pills li a:hover {
    background-color: #555555 !important;
    color: #fff;
    transition: background-color 0.4s;
}

.navbar-toggle {
    border-color: #fff !important;
    background-color: #ff0000 !important;
    float: left;
}

.navbar-inverse {
    float: left;
    border-color: #fff;
    background-color: #fff;
}


/* --------------------------------------- CONTACTS ----------------------------------------*/

.contact_head p {
    font-size: 20px;
}

.school-photo img {
    height: 400px;
}

.school-block__description,
.school-block__logo {
    text-align: center;
}


/* --------------------------------------- MAPS ----------------------------------------*/

#map {
    width: 550px;
    height: 500px;
    border-radius: 1%;
}

#map2 {
    width: 550px;
    height: 500px;
    border-radius: 1%;
}


/* --------------------------------------- NEWS ----------------------------------------*/

.news__photo img {
    width: 550px;
    height: auto;
    border-radius: 1%;
}

.news__hidden,
.news-text-format {
    width: 100%;
    height: auto !important;
}

.panel-heading h4 {
    color: #ffffff;
}

.news__header {
    margin-top: 0;
}

.panel-heading {
    background-color: #ff0000 !important;
}

.btn-color {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}

.search-partners li {
    list-style: none;
    max-width: 110%;
    margin: -10% !important;
    padding: 35px 15px 0px 15px;
}

.search-partners p {
    font-size: 19px;
}

.pre-scrollable {
    height: auto;
    max-height: 3000px !important;
    width: auto;
    overflow: auto;
    background-color: #ffeef2;
    word-break: normal !important;
    word-wrap: normal !important;
    overflow-y: scroll;
}


/* --------------------------------------- RULES ----------------------------------------*/

#example1 {
    height: auto;
}

.nav-stacked p {
    font-size: 17px;
}


/* --------------------------------------- REGISTER FORM ----------------------------------------*/

.modal_trigger {
    margin: 25px -15px;
    width: 120px;
    display: block;
    z-index: 9999;
}

.modal-header {
    background-color: #d43f3a;
}

#modal {
    display: none;
}

.btn_send {
    margin-left: 10px;
}


/* .success {
    background-color: #25BF48;
}

.error {
    background-color: #D43436;
}  */

.affix_send {
    bottom: -10px;
    width: 110%;
    left: -10%;
    padding-left: 35%;
    position: fixed;
    z-index: 9999;
}

.affix_send+.container {
    padding-top: 100px;
    padding-left: 150px;
}

#slideout {
    position: fixed;
    top: 80px;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 10000;
}

#slideout_inner {
    position: fixed;
    top: 80px;
    right: -600px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 10000;
}

#slideout:hover {
    right: 250px;
    z-index: 10000;
}

#slideout:hover #slideout_inner {
    right: -100px;
    z-index: 10000;
}