/*------------------------------------- COMMON SETTINGS-----------------------------------*/

html, body {
	height: 100%;
    background: rgba(255, 255, 255, 0.58);
}

h2:after {
    display: block;
    height: 2px;
    background-color: #000;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.wrapper {
	min-height: 100%;
}

.clear {
	clear: both;
	height: 63px;
}

/*------------------------------------- HEADER -------------------------------------------*/

.upper-header {
    padding: 1%;
}

.nav-pills>li>a {
    color: #fff;
    color: #000000;
    transition: background-color 0.4s;
}

.nav-pills>li.active>a {
    background-color: black;
}

.nav-pills>li.active>a:hover {
    background-color: red;
}

.nav-pills>li>a:hover {
    color: #fff;
    background-color: red;
    transition: background-color 0.4s;
}

.nav-pills {
    padding-top: 0.7%;
}

.nav-pills>li>a:focus {
    color: #fff;
    background-color: #000000;
    transition: background-color 0.4s;
}


.navbar-inverse {
    background-color: #efefef;
}

.header {
    padding: 1%;
   border-top: 1px solid #a5a5a5;
/*    border-bottom: 1px solid #a5a5a5; */
}

#AUDSF {
    width: auto;
    height: auto;
    padding-top: 7%;
}

#BOUS {
    width: 150px;
    height: auto;
}


/*------------------------------------- SLIDE NEWS -------------------------------------------*/

.sl__news {
    width: 800px;
    margin: 20px auto;
}

.sl__slide {
    position: relative;
}

.sl__text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 2%;
}

.sl__zag {
    margin: 0;
}

.our_video>iframe {
    width: 560px;
    height: 315px;
    border: none;
    overflow: hidden;
}



/*------------------------------------- COACH-BLOCK -------------------------------------------*/

.coach-block .img-circle {
    border-radius: 50% !important;
}


/*------------------------------------- ABOUT SCHOOL -------------------------------------------*/

.about-school>ul {
    list-style: none;
    font-size: 19px;
}

.about-school>ul>li {
    font-size: 17px;
    margin-top: 1%;
}

.about-school .glyphicon {
    margin-right: 1%;    
}


/*------------------------------------- FOOTER -------------------------------------------*/

footer {
	color: #666;
	background-color: #413030;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}

/* --------------------------------------- XS screens ----------------------------------------*/

@media (max-width: 767px) {
    .nav-pills>li {
        float: none;
    }
    .nav-pills {
        text-align: center;
    }
    .header h1 {
        letter-spacing: 5px;
        font-size: 280%;
    }
    .header {
        text-align: center;
    }
}


/* --------------------------------------- CONTACT ----------------------------------------*/

.contact_head {
    text-align: center;
}


/* --- maps ---*/

.map_description {
    text-align: center;
}

#map {
    width: 550px;
    height: 500px;
    border-radius: 1%
}

#map2 {
    width: 550px;
    height: 500px;
    border-radius: 1%
}

/* --------------------------------------- NEWS ----------------------------------------*/


.slide_img_properties {
    width: 630px;
}

