html,
body {
    height: 100%;
}

body {
    background-color: #efefef;
}

header {
    background-color: #efefef;
}

.header li {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #efefef;
    /*background-image: url(file:///F:/Some%20things/JavaScript/Project/10dance/assets/img/all-photos.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    border: none;*/
}

.nav-pills>li>a:hover {
    color: #fff;
    background-color: #346270;
    transition: background-color 0.3s;
}

.nav-pills {
    padding-top: 0.7%;
}

.header {
    padding: 1%;
}

footer {
    color: #666;
    background-color: #e2d6d6;
    padding: 10px 0 10px 0;
    border-top: 1px solid #000;
}

.footer-text {
    margin: 2px;
}

.clear {
    clear: both;
    height: 63px;
}

.fa {
    padding: 10px;
    font-size: 25px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

.fa-instagram {
    color: #125688;
}

.phone-us p {
    padding-top: 5%;
    vertical-align: middle;
}

.wrapper {
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    box-sizing: border-box;
}

#backgroundimage_body {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#backgroundimage_header {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#AUDSF {
    width: 50%;
    height: auto;
}

.upper-header {
    padding-top: 0.7%;
    padding-bottom: 0.5%;
}

.call-us-text {
    padding-top: 5px;
}

.phone-us {
    font-size: 15px;
}

.heading--main {
    background-color: #e3585d !important;
}

.heading--main .hN {
    background-color: #6d4c4e !important;
}

.cards {
     background-color: #efefef;    
}

.school {
     background-color: #414040;   
}

.school>ul {
     color: white;   
}

/* --------------------------------------- XS screens ----------------------------------------*/

@media (max-width: 767px) {
    .nav-pills>li {
        float: none;
    }
    .nav-pills {
        text-align: center;
    }
    .header h1 {
        letter-spacing: 5px;
        font-size: 280%;
    }
    .header {
        text-align: center;
    }
}


/* --------------------------------------- CONTACT ----------------------------------------*/

.contact_head {
    text-align: center;
}


/* --- maps ---*/

.map_description {
    text-align: center;
}

#map {
    width: 550px;
    height: 500px;
    border-radius: 1%
}

#map2 {
    width: 550px;
    height: 500px;
    border-radius: 1%
}
